.mediaViewInfo {
	--web-view-name: Experience;
	--web-view-id: Experience;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Experience;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Experience {
	position: absolute;
	width: 1920px;
	height: 4377px;
	background-color: rgba(248,229,229,1);
	overflow: hidden;
	--web-view-name: Experience;
	--web-view-id: Experience;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_149 {
	fill: rgba(195,158,160,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_149 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 165px;
	left: 0px;
	top: 0px;
}
#amirulhaziqharun_ch {
	left: 59px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(246,246,248,1);
}
#Ellipse_40 {
	opacity: 0.1;
	fill: rgba(0,0,0,1);
}
.Ellipse_40 {
	position: absolute;
	overflow: visible;
	width: 309.197px;
	height: 53.284px;
	left: 240.719px;
	top: 1740.038px;
}
#blob_3_cj {
	fill: rgba(195,158,160,1);
}
.blob_3_cj {
	overflow: visible;
	position: absolute;
	width: 272.301px;
	height: 178.898px;
	transform: matrix(1,0,0,1,257.5031,1582.6381) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Ellipse_42 {
	opacity: 0.1;
	fill: rgba(0,0,0,1);
}
.Ellipse_42 {
	position: absolute;
	overflow: visible;
	width: 412px;
	height: 71px;
	left: 1108.75px;
	top: 765.185px;
}
#EXPERIENCE__EDUCATION {
	left: 459px;
	top: 483.197px;
	position: absolute;
	overflow: visible;
	width: 371px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(0,0,0,1);
}
#ID2020 {
	left: 676.501px;
	top: 1396.648px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#ID2019 {
	left: 682.501px;
	top: 1932.148px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#EPSON_PRECISION_Johor {
	left: 892.501px;
	top: 1517.816px;
	position: absolute;
	overflow: visible;
	width: 357px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(0,0,0,1);
}
#Line_33 {
	fill: transparent;
	stroke: rgba(195,158,160,1);
	stroke-width: 20px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_33 {
	overflow: visible;
	position: absolute;
	width: 308px;
	height: 20px;
	left: 1211.75px;
	top: 890.238px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_43 {
	fill: rgba(195,158,160,1);
}
.Ellipse_43 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 1159.25px;
	top: 877.738px;
}
#Ellipse_44 {
	fill: rgba(195,158,160,1);
}
.Ellipse_44 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 1121.25px;
	top: 877.738px;
}
#Ellipse_45 {
	fill: rgba(195,158,160,1);
}
.Ellipse_45 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 1083.25px;
	top: 877.738px;
}
#journey_of_all_my_EXPERIENCES_ {
	left: 466px;
	top: 643.447px;
	position: absolute;
	overflow: visible;
	width: 492px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
	text-transform: lowercase;
}
#IT_Support_Internship__Mac_202 {
	left: 892.501px;
	top: 1551.816px;
	position: absolute;
	overflow: visible;
	width: 593px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_199 {
	position: absolute;
	width: 279px;
	height: 1px;
	left: 614px;
	top: 771.947px;
	overflow: visible;
}
#Line_5_cw {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_cw {
	overflow: visible;
	position: absolute;
	width: 173px;
	height: 5px;
	left: 111px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_6_cx {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6_cx {
	overflow: visible;
	position: absolute;
	width: 78px;
	height: 5px;
	left: 25px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_7_cy {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7_cy {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Orange_Media_Group__Industrial {
	left: 892.501px;
	top: 2066.201px;
	position: absolute;
	overflow: visible;
	width: 308px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(0,0,0,1);
}
#Universiti_Malaysia_Sarawak {
	left: 1205.555px;
	top: 2575.676px;
	position: absolute;
	overflow: visible;
	width: 387px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Universiti_Malaysia_Sarawak_c {
	left: 1205.555px;
	top: 2948.049px;
	position: absolute;
	overflow: visible;
	width: 387px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Sekolah_Menengah_Kebangsaan_Ag {
	left: 1205.555px;
	top: 3270.423px;
	position: absolute;
	overflow: visible;
	width: 434px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(0,0,0,1);
}
#IT_Assistant_Part-Time__June_2 {
	left: 892.501px;
	top: 2136.201px;
	position: absolute;
	overflow: visible;
	width: 637px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Bachelor_of_Computer_Science_w {
	left: 1205.555px;
	top: 2621.503px;
	position: absolute;
	overflow: visible;
	width: 395px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Foundation_for_Physical_Scienc {
	left: 1205.555px;
	top: 2993.876px;
	position: absolute;
	overflow: visible;
	width: 470px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Secondary_School_2011-2015_-_G {
	left: 1205.555px;
	top: 3369.25px;
	position: absolute;
	overflow: visible;
	width: 378px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Achievements_and_Awards_-_Dean {
	left: 1205.555px;
	top: 2779.33px;
	position: absolute;
	overflow: visible;
	width: 381px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Achievements_and_Awards_-_Comm {
	left: 1205.555px;
	top: 3101.704px;
	position: absolute;
	overflow: visible;
	width: 483px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Achievements_and_Awards_-_Exco {
	left: 1205.555px;
	top: 3496.077px;
	position: absolute;
	overflow: visible;
	width: 426px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_200 {
	position: absolute;
	width: 273px;
	height: 135px;
	left: 886.501px;
	top: 1889.648px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 273px;
	height: 135px;
	left: 0px;
	top: 0px;
}
#IGA_logo_aka_orange_media {
	position: absolute;
	width: 225px;
	height: 89px;
	left: 24px;
	top: 23px;
	overflow: visible;
}
#Tagline_Logo {
	position: absolute;
	width: 250.817px;
	height: 108.814px;
	left: 887.173px;
	top: 1367.449px;
	overflow: visible;
}
#Line_34 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_34 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 539.04px;
	left: 813.206px;
	top: 1418.46px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_36 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_36 {
	overflow: visible;
	position: absolute;
	width: 48.442px;
	height: 5px;
	left: 791.186px;
	top: 1419.928px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_37 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_37 {
	overflow: visible;
	position: absolute;
	width: 48.442px;
	height: 5px;
	left: 791.186px;
	top: 1957.5px;
	transform: matrix(1,0,0,1,0,0);
}
#NoPath {
	position: absolute;
	width: 279.911px;
	height: 185.441px;
	left: 906.448px;
	top: 2575.676px;
	overflow: visible;
}
#unimas2 {
	position: absolute;
	width: 280px;
	height: 210px;
	left: 906.555px;
	top: 2948.049px;
	overflow: visible;
}
#smkajb {
	position: absolute;
	width: 280px;
	height: 210px;
	left: 906.555px;
	top: 3282.443px;
	overflow: visible;
}
#Rectangle_150 {
	fill: rgba(195,158,160,1);
}
.Rectangle_150 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 242px;
	left: -3px;
	top: 4135px;
}
#ID2021__amirulhaziqharun__desi_dl {
	left: 704px;
	top: 4242px;
	position: absolute;
	overflow: visible;
	width: 507px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
#Mask_Group_19 {
	position: absolute;
	width: 382.324px;
	height: 453.529px;
	left: 1083.25px;
	top: 339.656px;
	overflow: visible;
}
#my_experience {
	left: 299.664px;
	top: 1654.087px;
	position: absolute;
	overflow: visible;
	width: 202px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
}
#blob_3_do {
	fill: rgba(250,37,93,1);
}
.blob_3_do {
	overflow: visible;
	position: absolute;
	width: 201.482px;
	height: 76.24px;
	transform: matrix(1,0,0,1,1030.0368,41.3799) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_202 {
	position: absolute;
	width: 694.034px;
	height: 34px;
	left: 1045.466px;
	top: 65px;
	overflow: visible;
}
#EXPERIENCE_dq {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(248,229,229,1);
}
#SKILL_dr {
	left: 226.345px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Skills.html;
	cursor: pointer;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(248,229,229,1);
}
#PROJECTS {
	left: 365.689px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Projects.html;
	cursor: pointer;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(248,229,229,1);
}
#CONTACT_dt {
	left: 570.034px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(248,229,229,1);
}
#Ellipse_46 {
	opacity: 0.1;
	fill: rgba(0,0,0,1);
}
.Ellipse_46 {
	position: absolute;
	overflow: visible;
	width: 313.637px;
	height: 54.049px;
	left: 208.865px;
	top: 3113.88px;
}
#blob_3_dv {
	fill: rgba(195,158,160,1);
}
.blob_3_dv {
	overflow: visible;
	position: absolute;
	width: 276.211px;
	height: 181.467px;
	transform: matrix(1,0,0,1,232.2407,2967.0494) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#my_education_background {
	left: 275.88px;
	top: 3025.574px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#ID2021 {
	left: 656.804px;
	top: 2642.503px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 41px;
	color: rgba(0,0,0,1);
}
#ID2017 {
	left: 656.804px;
	top: 3021.549px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 41px;
	color: rgba(0,0,0,1);
}
#ID2015 {
	left: 656.804px;
	top: 3387.443px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 41px;
	color: rgba(0,0,0,1);
}
#Line_38 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_38 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 751px;
	left: 809.117px;
	top: 2668.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_39 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_39 {
	overflow: visible;
	position: absolute;
	width: 49.795px;
	height: 5px;
	left: 784.604px;
	top: 2668.397px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_40 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_40 {
	overflow: visible;
	position: absolute;
	width: 49.795px;
	height: 5px;
	left: 784.604px;
	top: 3053.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_41 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_41 {
	overflow: visible;
	position: absolute;
	width: 49.795px;
	height: 5px;
	left: 784.604px;
	top: 3419.25px;
	transform: matrix(1,0,0,1,0,0);
}